:host {
    .card {
        padding: 24px 16px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        background-color: #ffffff;
        margin: 10px;
        border: 1px solid #d1d5da;
        border-radius: 2px;
        margin: .5rem 1rem .5rem 1rem;
        img {
            height: 80px;
            width: 80px;
            margin-right: 1rem;
        }
        .user-content {
            .info {
                margin-bottom: .5rem;
                display: block;
                .name {
                    color: #24292e;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .disabled {
        pointer-events: none;
        cursor: default;
    }
}