html {
    font-family: Arial, Helvetica, sans-serif;
    body {
        background-color: #fafafa;
        margin: 0;
        color: #586069;
    }
    a {
        color: #0366d6;
    }
    .card {
        padding: 24px 16px;
        display: flex;
        flex-wrap: wrap;
        margin: .5rem 1rem .5rem 1rem;
        border: 1px solid #d1d5da;
        position: relative;
        background-color: #ffffff;
        border-radius: 2px;
    }
}